<<<<<<< HEAD
header {
    background-color: red;
    height: 70px;
    width: 100%;
=======
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
>>>>>>> 158c62b19ea884ac9ea04d5d7e50bc0363331cac
}
