footer {
<<<<<<< HEAD
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    position: absolute;
    display: grid;
    text-align: center;
=======
	background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
>>>>>>> 158c62b19ea884ac9ea04d5d7e50bc0363331cac
}
